@import "tailwindcss";

.react-calendar {
  width: 100% !important;
  border: none !important;
  color: #0f172a !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.react-calendar__tile--active {
  background-color: #2563eb !important;
  color: white !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #eff6ff !important;
  color: #1d4ed8 !important;
}

.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: 1px solid #e2e8f0 !important;
  background-color: white !important;
  color: #475569 !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background-color: #eff6ff !important;
  border-color: #bfdbfe !important;
  color: #1d4ed8 !important;
  box-shadow: none !important;
}

.rbc-time-view {
  border-color: #e2e8f0 !important;
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-content {
  border: none !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px !important;
}

.rbc-timeslot-group {
  background-color: #f8fafc !important;
}

.rbc-day-slot {
  font-size: 14px !important;
}

.rbc-event {
  border: 1px solid #bfdbfe !important;
  border-radius: 6px !important;
  background-color: #eff6ff !important;
  color: #1e40af !important;
  padding: 6px 8px !important;
  margin: 4px !important;
  width: calc(100% - 8px) !important;
}

.rbc-event-label{
  color: #64748b !important;
  margin-bottom: 5px;
}



@keyframes marquee {
  from {
    transform: translateX(20%);
  }

  to {
    transform: translateX(-25%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}